@import "../../../styles/colors";

nav {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a.logo {
    padding: 0;
    background-color: transparent;
  }
  .menu:hover {
    border: 3px solid $border-color;
  }
}
