@import "../../../styles/colors";

main {
  .chart {
    margin-bottom: 30px;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .text-box {
      max-width: 500px;
      line-height: 2.5rem;
      font-size: 2rem;
    }
  }

  .choose {
    background: $main-color;
    border-radius: 12px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1040px) {
  main {
    .chart {
      .text-box {
        line-height: 4rem;
        font-size: 3rem;
      }
    }
  }
}
