@import "../../../styles/colors";

input {
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  width: 30vh;
  background-color: $light-color;
  text-align: center;
  text-transform: uppercase;
}

label {
  padding: 1rem 1.5rem;
  text-align: center;

}
